@charset "utf-8";
body,
div,
ul,
li {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    font-size: 16px;
    height: 100%;
    width: 100%;
    /*font-family: 'Microsoft Yahei',verdana;*/
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    line-height: 1.5;
    min-width: 960px;
}

a {
    text-decoration: none;
}

a:link {
    color: #636a73;
}

a:visited {
    color: #636a73;
}

a:hover,
a:active,
a:focus {
    color: #636a73;
    text-decoration: underline;
}

li {
    list-style: none;
}


/*loging登录框*/

.loging-box {
    color: #fff;
    height: 300px;
    padding: 30px;
    width: 250px;
    position: absolute;
    right: 10%;
    top: 80px;
    filter: alpha(opacity=70);
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #fff;
}

.loging-box:hover {
    background: #333;
    background: rgba(51, 51, 51, 0.7);
    filter: alpha(opacity=70);
}

.username {
    width: 240px;
    height: 32px;
    border: 0;
    outline: 0;
    background: #fff;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #ccc;
    opacity: 0.99;
}

.pwd {
    width: 240px;
    height: 32px;
    border: 0;
    outline: 0;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #ccc;
}

.check-code {
    width: 240px;
    height: 32px;
    margin-top: 10px;
    position: relative;
    vertical-align: middle;
    display: none;
}


/*显示验证码*/

.checked {
    display: block;
}

.check-input {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 32px;
    border: 0;
    outline: 0;
    border-radius: 5px;
}

.check-img {
    width: 100px;
    height: 32px;
    overflow: hidden;
    position: absolute;
}

.option {
    margin-top: 10px;
}

.option label {
    vertical-align: middle;
}

.option label,
.option a {
    font-size: 80%;
}

.option a:link,
.option a:visited,
.option a:hover,
.option a:active {
    color: #0773db;
}

.login-submit {
    width: 240px;
    height: 32px;
    background: #549f33;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: .2em;
    box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
    color: white;
    text-shadow: 0 -.05em .05em rgba(0, 0, 0, .5);
    font-size: 125%;
    line-height: 35px;
    outline: none;
    cursor: pointer;
}

.login-submit:hover {
    background: #64af43;
}


/*轮播框*/

.slider-main,
.silider-warp {
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    min-width: 1280px;
    overflow: hidden;
    position: relative;
}

.slider {
    width: 100%;
    height: 100%;
}

.slider-item {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    display: none;
    overflow: hidden;
}

.active {
    display: block;
}

.slider>li>img {
    width: 1920px;
    height: 760px;
    position: absolute;
    left: 50%;
    margin-left: -960px;
}


/*轮播按钮*/

.slider-ctrl {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 200px;
    margin: 0 auto;
    margin-left: -100px;
    text-align: center;
}

.ctrl-item {
    display: inline-block;
    margin: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #ccc;
    filter: alpha(opacity=40);
    -moz-opacity: 0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;
}

.select {
    background: #333;
    filter: alpha(opacity=70);
    -moz-opacity: 0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    box-shadow: 0 0 2px 2px #fff;
}